<!DOCTYPE html>
<html>
	<head>
	<title> web app </title>
	</head>
	<body>
	 <h1> Bienvenue dans notre Application de Test </h1>
	</body>

</html>


<!DOCTYPE html>
<html>
	<head>
	<title> web app </title>
	</head>
	<body>
	 <h1> Pour le compte de notre PFE </h1>
	</body>

</html>



<!DOCTYPE html>
<html>
	<head>
	<title> web app </title>
	</head>
	<body>
	 <h1>Mise en place et monitoring d'un CI CD securise  </h1>
	</body>

</html>



<!DOCTYPE html>
<html>
	<head>
	<title> web app </title>
	</head>
	<body>
	 <h1> Merci pour votre aimable attention </h1>
	</body>

</html>
